{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1 class="main title">Funcionou aeeeho</h1>
    
    <ul class="main list">
        {% for pergunta in perguntas %}
        <li class="main listitem"><a href="{% url 'responder' pergunta.id %}">{{pergunta.texto}}</a></li>
        {% endfor %}
    </ul>
</body>
</html>