body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.main.title{
    color: red;
}

.main.list{
    border: 2px solid red;
}
.main.listitem a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}